<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="dialect">dialect.SQLiteDialect</property>
    <property name="connection.driver_class">org.sqlite.JDBC</property>
    <property name="connection.url">jdbc:sqlite:LoanSystem.sqlite</property>
    <property name="connection.username"/>
    <property name="connection.password"/>
    <property name="current_session_context_class">thread</property>
    <mapping resource="Client.hbm.xml"/>
    <mapping resource="CientGroup.hbm.xml"/>
    <mapping resource="ClientHistory.hbm.xml"/>
    <mapping resource="ClientStatus.hbm.xml"/>
    <mapping resource="Employee.hbm.xml"/>
    <mapping resource="EmployeeType.hbm.xml"/>
    <mapping resource="Loan.hbm.xml"/>
    <mapping resource="LoanHistory.hbm.xml"/>
    <mapping resource="LoanOffer.hbm.xml"/>
    <mapping resource="LoanOfferHistory.hbm.xml"/>
    <mapping resource="LoanOfferStatus.hbm.xml"/>
    <mapping resource="LoanStatus.hbm.xml"/>
    <mapping resource="PostponeRequest.hbm.xml"/>
    <mapping resource="PostponeRequestStatus.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
